body {
  background-color: white;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 2px 1px 8px -3px black;
  width: 100%;
  padding: 0 5%;
}

header a {
  position: relative;
  color: black;
}

.titre-logo {
  display: flex;
  justify-content: center;
  font-family: Shrikhand;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}

.fa-solid.fa-arrow-left {
  font-size: 2em;
}

/*Recherche*/
.ville {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #f3f3f3;
}

.ville i {
  position: relative;
  left: 25px;
}

.ville input {
  display: flex;
  justify-content: center;
  height: 40px;
  text-align: center;
  background-color: #f3f3f3;
  font-family: Roboto;
  font-size: larger;
  border-style: none;
}

/*Intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  background-color: #F5F7F7;
}

h1 {
  font-family: Roboto;
  font-weight: bold;
}

.intro h1 {
  text-align: center;
}

.intro h2 {
  font-family: Roboto;
  font-weight: lighter;
  text-align: center;
}

.explore {
  font-size: larger;
  font-family: Roboto;
  font-weight: bold;
  color: white;
  padding: 20px 25px 20px 25px;
  width: 280px;
  height: 60px;
  border-radius: 55px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border-style: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.explore:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*Fonctionnement*/
.fonctionnement {
  padding-left: 15px;
  font-family: Roboto;
}

.fonctionnement h2 {
  margin-top: 0;
  padding-left: 1%;
}

.anim-fonct {
  counter-reset: steps;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  position: relative;
}

.anim-fonct ol {
  padding: 0;
  margin: 0;
}

.anim-fonct li {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  border-radius: 30px;
  font-family: Roboto;
  font-weight: bold;
  background-color: #f6f6f6;
  box-shadow: 2px 1px 8px -3px black;
  list-style-type: none;
  display: flex;
  position: relative;
}

.anim-fonct li::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}

.anim-fonct li:hover {
  background-color: #e4d5f6;
  cursor: pointer;
  color: #9356DC;
}

.fonct-icon {
  font-size: 25px;
  margin-right: 1rem;
}

/*Listes Restaurants*/
.restaurant {
  background-color: #f6f6f6;
  font-family: Roboto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 15px;
}

.restaurant h2 {
  padding-left: 1%;
}

.card-list {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  align-items: center;
}

.card {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 3%;
  text-decoration: none;
  box-shadow: 2px 1px 8px -3px black;
  position: relative;
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  width: 5rem;
  height: 2rem;
  color: #1b6150;
  display: grid;
  place-items: center;
  top: 1rem;
  right: 1rem;
  border-radius: 2px;
}

.card_img1 {
  width: 100%;
  height: 180px;
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card_img2 {
  width: 100%;
  height: 180px;
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card_img3 {
  width: 100%;
  height: 180px;
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card_img4 {
  width: 100%;
  height: 180px;
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card_detail {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  align-content: center;
  justify-content: space-between;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: black;
}

.card-detail-txt {
  flex: 1;
}

.card_detail p {
  margin: 0;
}

.card_detail h3 {
  margin-top: 10px;
  margin-bottom: 2px;
}

.btn_like {
  height: 35px;
  width: 35px;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 2rem;
  background-color: transparent;
}

.btn_like .fas.fa-heart, .btn_like .far.fa-heart {
  position: absolute;
}

.icon_like_bg {
  color: transparent;
  background-image: linear-gradient(180deg, #9356dc 0%, #ff76da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transform: scale(0.1);
}

.btn_like:hover .icon_like_bg {
  transform: scale(1.1);
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.icon_like {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*Pages Resto*/
.page-menu {
  background-color: #f6f6f6;
  padding-bottom: 20px;
}

.banner img {
  max-width: 100%;
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-menu {
  margin-top: -60px;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-content: center;
  align-items: center;
}

.detail_menu {
  background-color: #f6f6f6;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.nom-resto {
  font-family: Shrikhand;
  padding-top: 15px;
  font-size: 1.5rem;
}

.detail_menu_sub {
  font-family: Roboto;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 100%;
}

.detail_menu_sub h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.detail_menu_sub h3::after {
  content: "";
  width: 35px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.elmt {
  background-color: #fff;
  height: 75px;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.elmt:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.elmt:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.elmt:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.elmt:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

@-webkit-keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.elmt-head {
  width: 80%;
  padding: 1rem 0 1rem 1rem;
}

.elmt:hover .elmt-head {
  width: calc(80% - 75px);
}

.elmt h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elmt p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  width: 20%;
  transition-duration: 1s;
}

.elmt:hover .prix {
  width: 20%;
  transform: translateX(-30px);
}

.confirm {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 0.75rem 0.75rem 0;
  color: white;
  margin: -1em -5em -1em 2em;
  transition-duration: 1s;
  transform: translateX(0px);
}

.elmt:hover .confirm {
  transform: translateX(-30px);
}

.confirm:hover .elmt {
  margin-right: 0;
}

.icon_check {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(0deg);
  transition-duration: 1s;
}

.elmt:hover .icon_check {
  transform: rotate(360deg);
}

.fa-check {
  color: #99E2D0;
}

.btn_cmd {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

/*Responsive*/
@media screen and (min-width: 750px) {
  .anim-fonct {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .anim-fonct ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .anim-fonct li {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .restaurant {
    padding-right: 15px;
    padding-left: 15px;
  }
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 48%;
  }
  .detail_menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
  .detail_menu_sub {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    width: 30%;
  }
  .detail_menu_sub_card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-right: 5px;
    padding-right: 5px;
  }
}
/*Loader*/
.loader-block {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0deg, 0%, 100%, 0.9);
  -webkit-animation: disappear;
          animation: disappear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #9356DC #9356DC transparent transparent;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF79DA #FF79DA;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-animation: rotationBack 0.5s linear infinite;
          animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #99E2D0 #99E2D0 transparent transparent;
  -webkit-animation: rotation 1.5s linear infinite;
          animation: rotation 1.5s linear infinite;
}

@-webkit-keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*footer*/
footer {
  background-color: #353535;
  padding-left: 20px;
  padding-bottom: 30px;
}

.logo-footer {
  font-family: Shrikhand;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

.footer_list {
  font-family: Roboto;
  color: white;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.footer_list li {
  margin-bottom: 5px;
  margin-top: 5px;
}

.footer_list a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=main.css.map */